#HoroscopeMeat{
    font-size: 125%;
    position:absolute;
    top:45%;
    right:50%;
    left:5%;
}

#Sign{
    font-size: 400%;
    color: #cc1e0f;
    position:absolute;
    left:2.5%;
}

#Image{
    position:absolute;
    top:35%;
    right:5%;
}

#Birthday{
    font-size: 500%;
    color: chocolate;
}